In [1]:
import pandas as pd
import numpy as np
import xlsxwriter

In [2]:
order_product = pd.read_excel("Case.xlsx", sheet_name="Order Product")

In [3]:
order_product.head(3)

,Order ID,ProductID,Unit List Price,Quantity,Category,SubCategory
0,1001,Product5001,12.42,1,Category1001,SubCategory1001
1,1002,Product5001,24.84,2,Category1001,SubCategory1001
2,1003,Product5001,12.42,1,Category1001,SubCategory1001

In [4]:
order_transaction = pd.read_excel("Case.xlsx", sheet_name="Order(Transaction)")

In [5]:
order_transaction.head(3)

   Order ID  MemberID  Avg Basket Size Created Date    StoreID Order Status
0      1001      5124              NaN   2020-12-06  Store5032    Completed
1      1002      5219              NaN   2021-02-18  Store5032    Completed
2      1003      5229              NaN   2021-01-04  Store5032    Completed

In [6]:
order_product = order_product.sort_values(by=["Order ID"])

In [7]:
order_product.head(7)

,Order ID,ProductID,Unit List Price,Quantity,Category,SubCategory
0,1001,Product5001,12.42,1,Category1001,SubCategory1001
3595,1001,Product5260,4.14,1,Category1002,SubCategory1018
6172,1001,Product5406,2.76,1,Category1002,SubCategory1019
8469,1001,Product5621,2.76,1,Category1002,SubCategory1006
9456,1001,Product5682,1.38,1,Category1002,SubCategory1006
10320,1001,Product5789,13.80,2,Category1004,SubCategory1024
1918,1001,Product5153,4.14,1,Category1002,SubCategory1019

In [8]:
writer = pd.ExcelWriter('CaseAnswers.xlsx', engine='xlsxwriter')

## 1 - Please calculate the Avg Basket Size for each order in the "Order(Transaction)" sheet. (Please refer to the "Order Product" sheet.)

In [19]:
order_transaction_date = pd.read_excel("Case.xlsx", sheet_name="Order(Transaction)")

In [20]:
avg_basket_value = list()

for i in order_transaction_date["Order ID"]:
    avg_basket_size = (sum(order_product[order_product["Order ID"] == i]["Unit List Price"])/sum(order_product[order_product["Order ID"] == i]["Quantity"]))
    format_float_avg = "{:.3f}".format(avg_basket_size)
    format_float_avg = float(format_float_avg)
    avg_basket_value.append(float(format_float_avg))

In [21]:
order_transaction_date["Avg Basket Size"] = avg_basket_value

In [22]:
dates = pd.to_datetime(order_transaction_date["Created Date"], format='%Y%m%d')
a = dates.dt.strftime('%d.%m.%Y')
a

0       06.12.2020
1       18.02.2021
2       04.01.2021
3       05.02.2021
4       24.10.2020
           ...
2495    25.01.2021
2496    29.10.2020
2497    23.01.2021
2498    05.12.2020
2499    17.11.2020
Name: Created Date, Length: 2500, dtype: object

In [23]:
order_transaction_date["Created Date"] = a

In [27]:
order_transaction_date.head(5)

   Order ID  MemberID  Avg Basket Size Created Date    StoreID Order Status
0      1001      5124            5.175   06.12.2020  Store5032    Completed
1      1002      5219            4.893   18.02.2021  Store5032    Completed
2      1003      5229            5.692   04.01.2021  Store5032    Completed
3      1004      5239            6.900   05.02.2021  Store5032    Completed
4      1005      5250            5.692   24.10.2020  Store5032    Completed

## 2 - What is the Avg Basket Size for between 7 Feb 2021 and 13 Feb 2021?

In [28]:
order_transaction = pd.read_excel("Case.xlsx", sheet_name="Order(Transaction)")

In [29]:
order_transaction["Avg Basket Size"] = avg_basket_value

In [30]:
februray = sum(order_transaction[(order_transaction['Created Date'] > "2021.02.07") & (order_transaction['Created Date'] <= '2021-02-13')]["Avg Basket Size"])

In [31]:
februray

604.2879999999994

In [32]:
favg_basket_size = februray/len(order_transaction[(order_transaction['Created Date'] > '2021.02.07') & (order_transaction['Created Date'] <= '2021-02-13')]["Avg Basket Size"])

In [33]:
format_float = "{:.3f}".format(favg_basket_size)

In [34]:
format_float

'6.568'

## 3 - What is the average product quantity in basket of category "Category1003"?

In [35]:
avg_prod_quant = order_product[order_product["Category"] == "Category1003"].shape[0]/sum(order_product[order_product["Category"] == "Category1003"]["Quantity"])

In [36]:
float_format_prod = "{:.3f}".format(avg_prod_quant)

In [37]:
float_format_prod

'0.670'

## 4 - Please create a pivot table showing the total amount of each subcategory for November 2020.

In [38]:
non_november_sub = order_transaction[(order_transaction['Created Date'] < '2020-11-01') | (order_transaction['Created Date'] > '2020-11-30')]["Order ID"]

In [39]:
non_november_sub = non_november_sub.tolist()

In [40]:
sub_category = order_product

In [41]:
for i in range(len(non_november_sub)):
    x = sub_category[sub_category['Order ID'] == non_november_sub[i]].index.values
    for j in x:
        sub_category.drop(j, inplace = True)

In [42]:
total_amount_subctg = sub_category["SubCategory"].value_counts()

In [43]:
sub_category_list = sub_category["SubCategory"].unique().tolist()

In [44]:
sub_category_df = pd.DataFrame()

In [45]:
sub_category_df["SubCategory"] = sub_category_list

In [46]:
sub_category_df["Total Amount November"] = np.array(total_amount_subctg)

In [47]:
sub_category_df

        SubCategory  Total Amount November
0   SubCategory1002                    290
1   SubCategory1024                    242
2   SubCategory1019                    149
3   SubCategory1018                    146
4   SubCategory1006                    144
5   SubCategory1001                    127
6   SubCategory1003                    113
7   SubCategory1016                    110
8   SubCategory1014                    104
9   SubCategory1013                     86
10  SubCategory1004                     85
11  SubCategory1005                     82
12  SubCategory1015                     81
13  SubCategory1008                     69
14  SubCategory1010                     57
15  SubCategory1026                     53
16  SubCategory1009                     46
17  SubCategory1007                     42
18  SubCategory1011                     42
19  SubCategory1023                     40
20  SubCategory1012                     40
21  SubCategory1020                     23
22  SubCategory1025                     21
23  SubCategory1029                     21
24  SubCategory1017                     20
25  SubCategory1027                     20
26  SubCategory1028                     19
27  SubCategory1030                     13
28  SubCategory1021                      9
29  SubCategory1022                      3
30  SubCategory1031                      2

## 5 - Please calculate Avg Basket Size for each store for months January to March. Which stores show the lowest performance and why? Elaborate your decisions on lowest performing stores. Do you have a suggestion for the low performer stores?

In [48]:
(order_transaction[(order_transaction['Created Date'] > '2021-01-01') & (order_transaction['Created Date'] <= '2021-03-31')]["Avg Basket Size"])

1       4.893
2       5.692
3       6.900
8       5.348
9       5.520
        ...
2489    4.337
2493    4.692
2494    3.910
2495    3.910
2497    4.692
Name: Avg Basket Size, Length: 986, dtype: float64

In [49]:
store_id_jantomarch = list()

for i in (order_transaction[(order_transaction['Created Date'] > '2021-01-01') & (order_transaction['Created Date'] <= '2021-03-31')]["StoreID"]):
    if i not in store_id_jantomarch:
        store_id_jantomarch.append(i)

In [50]:
store_id_jantomarch[0]

'Store5032'

In [51]:
store_avgsize = dict()

for i in store_id_jantomarch:
    avg_basket_size_each_store = (sum(order_transaction[order_transaction["StoreID"] == i]["Avg Basket Size"])/len(order_transaction[order_transaction["StoreID"] == i]))
    formatted_float = "{:.3f}".format(avg_basket_size_each_store)
    store_avgsize[i] = float(formatted_float)

In [52]:
sorted(store_avgsize, key=store_avgsize.get, reverse=False)[:5]

['Store5019', 'Store5009', 'Store5006', 'Store5001', 'Store5020']

In [54]:
store_avgsize

{'Store5032': 5.915,
 'Store5031': 5.56,
 'Store5030': 6.436,
 'Store5029': 7.668,
 'Store5028': 6.487,
 'Store5027': 7.446,
 'Store5026': 9.305,
 'Store5025': 5.972,
 'Store5024': 6.838,
 'Store5023': 6.401,
 'Store5022': 6.371,
 'Store5021': 7.608,
 'Store5020': 5.474,
 'Store5019': 4.092,
 'Store5018': 5.624,
 'Store5017': 5.881,
 'Store5016': 5.941,
 'Store5015': 5.99,
 'Store5014': 7.512,
 'Store5013': 7.093,
 'Store5012': 6.886,
 'Store5011': 8.156,
 'Store5010': 6.417,
 'Store5009': 4.219,
 'Store5008': 6.342,
 'Store5007': 5.63,
 'Store5006': 5.281,
 'Store5005': 5.908,
 'Store5004': 6.255,
 'Store5003': 12.574,
 'Store5002': 6.242,
 'Store5001': 5.424}

## 6 - Please create a pivot table of total number of orders for November 2020 with City name breakdown. Show the share of Cities as a percentage of total. (for Order Status= "Completed")

In [55]:
store = pd.read_excel("Case.xlsx", sheet_name="Store")

In [56]:
store.rename(columns = {'Unnamed: 0':'StoreID', 'Unnamed: 1':'City ID', 'Unnamed: 2':'City Name', 'Visit':'Ekim20', 'Unnamed: 4':'Kas20', 'Unnamed: 5':'Ara20', 'Unnamed: 6':'Oca21', 'Unnamed: 7':'Şub21',}, inplace = True)

In [57]:
store.drop([0], inplace = True)

In [58]:
store = store.sort_values(by=["StoreID"])

In [59]:
order_transaction = pd.read_excel("Case.xlsx", sheet_name="Order(Transaction)")

In [60]:
cancelled = order_transaction[order_transaction["Order Status"] == "Cancelled"]["Order ID"]

In [61]:
cancelled = cancelled.tolist()

In [62]:
for i in range(len(cancelled)):
    delete = order_transaction[order_transaction['Order ID'] == cancelled[i]].index.values
    for j in delete:
        order_transaction.drop(j, inplace = True)

In [63]:
order_each_store  = order_transaction["StoreID"].value_counts()

In [64]:
order_each_store = order_each_store.to_dict()

In [65]:
new_order_each_store = dict()

istanbul = 0
ankara = 0
izmir = 0

for k, v in order_each_store.items():
    a = store[store["StoreID"] == k]["City Name"]
    a = a.tolist()
    
    if a[0] == "Istanbul":
        istanbul += v
    elif a[0] == "Izmir":
        izmir += v
    elif a[0] == "Ankara":
        ankara += v

In [66]:
total_order_by_cities = istanbul+izmir+ankara

In [67]:
istanbul_percentage = istanbul/total_order_by_cities
izmir_percentage = izmir/total_order_by_cities
ankara_percentage = ankara/total_order_by_cities

formatted_float = "{:.3f}".format(istanbul_percentage)
istanbul_percentage = float(formatted_float)
formatted_float = "{:.3f}".format(izmir_percentage)
izmir_percentage = float(formatted_float)
formatted_float = "{:.3f}".format(ankara_percentage)
ankara_percentage = float(formatted_float)

istanbul_percentage = "{:.0%}".format(istanbul_percentage)
izmir_percentage = "{:.0%}".format(izmir_percentage)
ankara_percentage = "{:.0%}".format(ankara_percentage)

In [68]:
istanbul_percentage, izmir_percentage, ankara_percentage

('66%', '16%', '18%')

In [69]:
percentage_list = list()

percentage_list.append(izmir_percentage)
percentage_list.append(istanbul_percentage)
percentage_list.append(ankara_percentage)

In [70]:
city_percentage_df = pd.DataFrame()

In [71]:
city_percentage_df["City Name"] = store["City Name"].unique()

In [72]:
city_percentage_df["Percentage"] = percentage_list

In [73]:
city_percentage_df

  City Name Percentage
0     Izmir        16%
1  Istanbul        66%
2    Ankara        18%

## 7 - Suppose that will open a new store. Which city would you suggest for that? Please elaborate your reasoning.

In [84]:
store = pd.read_excel("Case.xlsx", sheet_name="Store")

In [85]:
store.rename(columns = {'Unnamed: 0':'StoreID', 'Unnamed: 1':'City ID', 'Unnamed: 2':'City Name', 'Visit':'Ekim20', 'Unnamed: 4':'Kas20', 'Unnamed: 5':'Ara20', 'Unnamed: 6':'Oca21', 'Unnamed: 7':'Şub21',}, inplace = True)

In [86]:
store.drop([0], inplace = True)

In [87]:
store.head(5)

     StoreID City ID City Name  Ekim20  Kas20   Ara20   Oca21   Şub21
1  Store5002      34  Istanbul  120.51  100.8  107.35  121.25    59.8
2  Store5003      34  Istanbul   65.52     45   65.55    62.5  116.15
3  Store5004       6    Ankara   78.39   74.7   116.2  103.75    83.2
4  Store5005       6    Ankara   73.71   91.8   142.8   127.5   136.5
5  Store5006      34  Istanbul   52.65   88.8   110.2  136.25   106.6

In [89]:
order_transaction_date.head(5)

   Order ID  MemberID  Avg Basket Size Created Date    StoreID Order Status
0      1001      5124            5.175   06.12.2020  Store5032    Completed
1      1002      5219            4.893   18.02.2021  Store5032    Completed
2      1003      5229            5.692   04.01.2021  Store5032    Completed
3      1004      5239            6.900   05.02.2021  Store5032    Completed
4      1005      5250            5.692   24.10.2020  Store5032    Completed

In [90]:
store_id = dict()

for i in store["StoreID"]:
    a = sum(order_transaction_date[order_transaction_date["StoreID"] == i]["Avg Basket Size"])
    format_a = "{:.3f}".format(a)
    store_id[i] = float(format_a)
    a = 0

In [91]:
city_name = dict()

for k, v in store_id.items():
    x = store[store["StoreID"] == k]["City Name"]
    x = x.to_list()
    city_name[k] = x

In [92]:
city_name["Store5013"]

['Izmir']

In [93]:
sorted(store_id, key=store_id.get, reverse=True)[:5]

['Store5003', 'Store5026', 'Store5021', 'Store5011', 'Store5013']

In [94]:
store_id

{'Store5002': 411.971,
 'Store5003': 792.177,
 'Store5004': 525.411,
 'Store5005': 449.006,
 'Store5006': 443.574,
 'Store5007': 450.387,
 'Store5008': 621.518,
 'Store5009': 286.903,
 'Store5010': 481.254,
 'Store5011': 644.361,
 'Store5012': 599.042,
 'Store5014': 510.842,
 'Store5015': 455.234,
 'Store5016': 427.727,
 'Store5017': 435.16,
 'Store5020': 492.62,
 'Store5021': 707.542,
 'Store5022': 605.239,
 'Store5023': 492.843,
 'Store5024': 492.355,
 'Store5025': 483.738,
 'Store5026': 781.63,
 'Store5027': 506.302,
 'Store5028': 473.582,
 'Store5030': 405.442,
 'Store5032': 431.766,
 'Store5019': 323.229,
 'Store5018': 382.443,
 'Store5029': 628.761,
 'Store5031': 455.935,
 'Store5013': 638.366,
 'Store5001': 433.917}

## 8 - What are the top 5 products (by product id) with the highest amount in one basket? (for Order Status= "Completed")

In [95]:
x = order_transaction[order_transaction["Order Status"] == "Cancelled"]["Order ID"]

In [96]:
x = x.to_list()

In [97]:
order_product.drop(x, inplace = True)

In [98]:
f = dict()

for i in order_product["ProductID"]:
    a = sum(order_product[order_product["ProductID"] == i]["Quantity"])
    f[i] = a
    a = 0

In [99]:
sorted(f, key=f.get, reverse=True)[:5]

['Product5325', 'Product5260', 'Product5784', 'Product5179', 'Product5144']

In [100]:
with pd.ExcelWriter("CaseAnswer.xlsx") as writer:
    city_percentage_df.to_excel(writer, sheet_name="City Percentage")
    sub_category_df.to_excel(writer, sheet_name="November Sub Category")
    order_transaction_date.to_excel(writer, sheet_name="Avg Basket Size Transaction")